body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1500px;
}


.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container a {
    text-decoration: none;
    text-align: center;
    padding-left: 2rem;
    color: rgb(28, 27, 27);
    
}


.header-contiainer a:visited {
    color: rgb(28, 27, 27);

}

.mainlogo {
    width: 20%;
    font-size: 5.5rem;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    
}
.mainlogo:hover {
    cursor: pointer;
}

.headsearch {
    width: 40%;
    max-width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.search {
    text-align: center;
    width: 70%;
    border-radius: 20px;
   
}

.headsearch button {
    width: 20%;
    font-size: 0.8rem;
    padding: 0.2rem;

}

.headsearch button:hover {
    cursor: pointer;
    background-color: #17242b;
    color: #4f5259;
}

.account {
    display: flex;
}

.account a {
    position: relative;
}


.account img {
    width: 40px;
    position: absolute;
    bottom: 5px;
}

.account .sesion {
    width: 35px;
}
.account span {
    position: relative;
    top: 15px;
    right: 10px;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    background-color: #394867;
    height: 50px;

   
}

.nav a {
    text-decoration: none;
    font-size: 1rem;
    color: aliceblue;
    transition: color 0.5s;

}

.nav a:hover {
    background-color: #F1F6F9;
    color: #17242b;
    padding: 0.9rem;
    opacity: 0.5;
    border-radius: 25px;
    font-weight: bold;   
}

.promocion {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    padding: 20px;
    text-align: center;
    margin: 1rem 0;
    background-color:  #F1F6F9;

}
.promocion p {
    line-height: 20px;
    font-weight: 600;
    color: #394867;
    
}

.mainimg div {
    width: 100%;
    height: 500px;
    background-image: url("../img/main/mainimg.jpg");
    background-size: cover;
    background-position: 0% 65%; 
}

h2 {
    text-align: center;
    margin: 50px;
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.main-product {
    margin: 5rem 0;
}

.containermain {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 3rem auto;
    padding: 20px;
}

.product {
    width: 20%;
    text-align: center;
    
}
.product img {
    transition: transform 1s, box-shadow 1s;
}
.product img:hover {
    transform: translateY(-6px);
    cursor: pointer;
    box-shadow: 2px 2px 4px #212A3E;
}
.product a {
    text-decoration: none;
    color: rgb(116, 115, 115);
    font-size: 1.5rem;
}


.mainproduct {
    width: 90%;
    text-align: center;
    border-radius: 10%;
    margin-bottom: 1rem;
}
.mainproduct-first {
    width: 85%;
    text-align: center;
    border-radius: 10%;
    margin-bottom: 1rem;
}
.mainproduct-change {
    width: 75%;
    margin-bottom: 1rem;
    border-radius: 10%;
}

.mainclothe {
    width: 100%;
    height: 500px;
    background-image: url("../img/main/girls.jpg");
    background-size: cover;
    background-position: 0% 55%; 
}
.active {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px auto;
    background-color: #212A3E;
}
.main-active {
    width: 50%;
    text-align: center;
}

.mainclothes {
    display: flex;
    justify-content: space-evenly;
    
    
}

.clothes {
    width: 20%;
    margin: 1rem 1rem;
    text-align: center;
    
}
.clothes img {
    transition: box-shadow 1s,  transform 1s;
}
.clothes img:hover {
    transform: translateY(-6px);
    cursor: pointer;
    box-shadow: 2px 2px 4px #212A3E;
}
.clothes img {
    border: 1px solid #212A3E;
    border-radius: 10px;
    border-bottom: 2rem;
}
.clothes a {
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(116, 115, 115);
    margin-top: 1rem;
   
}


.social {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 60px 0px 0px;
    background-color: #F1F6F9;
    padding: 20px;

}
.reds {
    width: 50%;
    text-align: center;
    
    
}

.register  {
    border-radius: 20px;
    padding: 0.5rem;
    background-color: #394867;
    color: #F1F6F9;
    border: 1px solid black;
    text-decoration: none;
    margin: 0px 100px;
    transition: font-size 1s;
}

.register:hover {
    font-size: 1.5rem;
}

.reds p {
    margin: 20px 50px;
    font-size: 20px;
    text-align: center;
}
.reds button {
    margin: 0 40%;
    font-size: 20px;
}
.socialmedia {
    display: flex;
    justify-content: center;
    
}

.media {
    margin: 20px;
    width: 50px;
    
    
}

.media img {
    border-radius: 80%;
}


.finalfooter {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin: 0px;
    padding: 50px;
    background-color: #394867;
    color: #F1F6F9;
}

.titlefooter {
    margin: 40px 35px;
    text-align: left;
    width: 50%;
    font-weight: 500;
    font-size: 1rem
}

.finalfooter li {
    margin: 20px 30px;
    text-align: left;
    font-weight: 100;
    padding: 0.4rem;
    transition: background-color 0.5s;
    
}

.finalfooter li:hover {
    background-color: aliceblue;
    opacity: 0.5;
    
}

.finalfooter a {
    text-decoration: none;
    font-size: 1rem;
    color: #F1F6F9;
    
}
.finalfooter a:hover {
    color: #212A3E;
    font-weight: bold;
}
.payfooter h3 {
    text-align: center;
    margin: 20px;
    font-size: 0.8rem;
    

}

.pay {
    display: flex;
    justify-content: center;
    padding: 5px 40px 40px;
}

button {
    border-radius: 20px;
    padding: 10px;
    background-color: #394867;
    color: #F1F6F9;
    border: 1px solid black;
}

@media screen and (max-width:768px){
    .mainlogo {
        font-size: 3rem;
    }
    .headsearch {
        height: 0.5rem;
        
    }
    .headsearch button {
        font-size: 0.8rem;
        padding: 1px;
    }
    .account img {
        width: 25px;
    }
    .account .sesion {
        width: 20px;
    }
    .account span {
        font-size: 0.8rem;

    }
    .nav {
        margin-top: 0.5rem;
        height: 30px;
    }
    .nav a {
        font-size: 0.8rem;
    }
}

@media screen and (max-width:576px){
   
   
    .header-container {
        width: 100%;
        justify-content: space-around;
    }
    .mainlogo {
        font-size: 4rem;
        padding: 0;
    }
    .headsearch {
        display: none;
        
    }
  
    .account img {
        width: 25px;
    
    }
    .account .sesion {
        width: 20px;
    }
    .account span {
        display: none;

    }
    .nav {
        margin-top: 0.5rem;
        height: 30px;
    }
    .nav a {
        font-size: 0.8rem;
    }
    
    .promocion {
        height: 75px;
    }
    .promocion p{
        height: 3rem;
        padding-bottom: rem;
        font-size: 0.8rem
    }

    .mainimg div {
        width: 100%;
        height: 250px;
        background-image: url("../img/main/mainimg.jpg");
        background-size:contain;
        background-position: center;
        background-repeat: no-repeat; 
    }

    h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .main-product {
        margin: 3rem 0;
    }

    .containermain {
        flex-wrap: wrap;
        margin-top: 1rem;
        
    }
    .product {
        width: 35%;
        margin: 1rem;
    }
    .product a {
        font-size: 1.3rem;
    }
    .mainclothe {
        width: 100%;
        height: 250px;
        background-image: url("../img/main/girls.jpg");
        background-size:contain;
        background-position: center;
        background-repeat: no-repeat; 
    }

    .clothes {
        width: 35%;
    }
    .clothes a {
        margin: 2rem 0;
        font-size: 1.3rem;
    }

    .reds {
        width: 100%;
    }
    .social p{
        width: 80%;
        font-size: 0.8rem;
        margin: 1rem;
    }
    .reds button {
        width: 100%;
        font-size: 0.8rem;
        margin-left: 0;
    }

   
    .socialmedia img {
        width: 70%;
       
    }

    .finalfooter h3 {
        font-size: 0.6rem;
        margin: 1rem 2rem;
    }
    
    .finalfooter li {
        margin: 1rem 2rem;
    }
    .finalfooter a {
       font-size: 0.5rem;
    }
    .pay img {
        width: 60%;
    }
}