@use "settings.scss";
@use "components.scss";
@use "elements.scss";
@use "tools.scss";


.container {
    background-color: var(--color-cultured);
    margin: 2rem auto;
    border-radius: 30px;
    max-width: 900px;

}
.contacto {
    margin-left: 0;
}
.btn {
    margin: 2rem 10rem;
}

.form-label {
    margin-top: 2rem;
    font-weight: bold;
}