@use "settings.scss";
@use "components.scss";
@use "elements.scss";
@use "tools.scss";

.promocion {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    padding: 20px;
    text-align: center;
    margin: 1rem 0;
    background-color:  var(--color-cultured);

    

}
.promocion p {
    line-height: 20px;
    font-weight: 600;
    color: var(--color-police-blue);

    
    
}

.nutri-img div {
    width: 100%;
    height: 500px;
    margin-bottom: 1rem;
    background-image: url("../img/nutri/nutrmain.jpg");
    background-size: cover;
    background-position: top; 
}

.nutri-title { 
    margin: 4rem;
}
.nutri-title h1 {
    font-size: 4rem;
    text-align: center;
    padding: 1rem 2rem; 
    font-weight: bold;
}
.nutri-title p {
    max-width:1180px;
    text-align: center;
    margin: 0 auto;
}

.nutri-product {
    margin: 3rem 0 2rem 0;
}

.price {
    font-weight: bold;
}


@include tools.tablet {
    
    .nutri-img div {
        background-image: url("../img/nutri/nutrmain.jpg");
        height: 400px;
        background-size:contain;
        background-position: center;
        background-repeat: no-repeat; 
        margin-top: 1rem;
    }

    .nutri-title h1 {
        font-size: 3rem;
    }

    
}

@include tools.phone {
    .nutri-img div {
        background-image: url("../img/nutri/nutrmain.jpg");
        height: 250px;
        background-size:contain;
        background-position: center;
        background-repeat: no-repeat; 
        margin-top: 0.8rem;
    }

    .nutri-title {
        margin: 1rem auto;
        
    }

    .nutri-title h1 {
        font-size: 3rem;
        padding: 2rem;
    }

    .nutri-title p {
        max-width:1180px;
        text-align: center;
        padding: 2rem;

    }
}