@use "settings.scss";
@use "elements.scss";
@use "tools";

body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1500px;
}


.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header-container a {
    text-decoration: none;
    text-align: center;
    padding-left: 2rem;
    color: var(--color-eerie-black);
    
}


.header-contiainer a:visited {
    color: var(--color-eerie-black);

}

.mainlogo {
    width: 20%;
    font-size: 5.5rem;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    
    
}
.mainlogo:hover {
    cursor: pointer;
}

.headsearch {
    width: 40%;
    max-width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.search {
    text-align: center;
    width: 70%;
    border-radius: 20px;
   
}

.headsearch button {
    width: 20%;
    font-size: 0.8rem;
    padding: 0.2rem;


}

.headsearch button:hover {
    cursor: pointer;
    background-color: var(--color-dark-gunmetal);
    color: var(--color-david-gray);
}

.account {
    display: flex;
}

.account a {
    position: relative;
}


.account img {
    width: 40px;
    position: absolute;
    bottom: 5px;

    
}

.account .sesion {
    width: 35px;

    
}
.account span {
    position: relative;
    top: 15px;
    right: 10px;
}


.nav {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    background-color: var(--color-police-blue);
    height: 50px;

   
}

.nav a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--color-cultured);
    transition: color 0.5s;

}

.nav a:hover {
    background-color: var(--color-cultured);
    color: var(--color-dark-gunmetal);
    padding: 0.9rem;
    opacity: 0.5;
    border-radius: 25px;
    font-weight: bold;   
}


.social {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 60px 0px 0px;
    background-color: var(--color-cultured);
    padding: 20px;


}
.reds {
    width: 50%;
    text-align: center;

}

.register  {
    border-radius: 20px;
    padding: 0.5rem;
    background-color: var(--color-police-blue);
    color: var(--color-cultured);
    border: 1px solid black;
    text-decoration: none;
    margin: 0px 30px;
    transition: font-size 1s;
}

.register:hover {
    font-size: 0.8rem;
}

.reds p {
    margin: 20px 50px;
    font-size: 20px;
    text-align: center;
}
.reds button {
    margin: 0 40%;
    font-size: 10px;


}
.socialmedia {
    display: flex;
    justify-content: center;

    
}

.media {
    margin: 13px;
    width: 30px;
    
    
}

.media img {
    border-radius: 80%;

    @include tools.phone {
        .media img {
            width: 70%;
           
        } 
    }
}


.finalfooter {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin: 0px;
    padding: 50px;
    background-color: var(--color-police-blue);
    color: var(--color-cultured);


}

.titlefooter {
    margin: 40px 35px;
    text-align: left;
    width: 50%;
    font-weight: 500;
    font-size: 1rem
}

.finalfooter li {
    margin: 20px 30px;
    text-align: left;
    font-weight: 100;
    padding: 0.4rem;
    transition: background-color 0.5s;
    
}

.finalfooter li:hover {
    background-color: var(--color-cultured);
    opacity: 0.5;
    
}

.finalfooter a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--color-cultured);
    
}
.finalfooter a:hover {
    color: var(--color-yankees-blue);
    font-weight: bold;
}
.payfooter h3 {
    text-align: center;
    margin: 20px;
    font-size: 0.8rem;
    

}

.pay {
    display: flex;
    justify-content: center;
    padding: 5px 40px 40px;
}

button {
    border-radius: 20px;
    padding: 10px;
    background-color: var(--color-police-blue);
    color: var(--color-cultured);
    border: 1px solid black;
}