:root {
  --color-police-blue: #394867;
  --color-cultured: #F1F6F9;
  --color-aquarius-900: #c5eaf0;
  --color-yankees-blue: #212A3E;
  --color-sonic-silver: #757374;
  --color-eerie-black: #1D1B1C;
  --color-dark-gunmetal: #2B1E17;
  --color-david-gray: #4f5259;
  --color-black: #000;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1180px;
}

h2 {
  text-align: center;
  margin: 50px;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

button {
  border-radius: 20px;
  padding: 10px;
  background-color: var(--color-police-blue);
  color: var(--color-cultured);
  border: 1px solid black;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1500px;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container a {
  text-decoration: none;
  text-align: center;
  padding-left: 2rem;
  color: var(--color-eerie-black);
}

.header-contiainer a:visited {
  color: var(--color-eerie-black);
}

.mainlogo {
  width: 20%;
  font-size: 5.5rem;
  text-align: center;
  font-family: "Permanent Marker", cursive;
}

.mainlogo:hover {
  cursor: pointer;
}

.headsearch {
  width: 40%;
  max-width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search {
  text-align: center;
  width: 70%;
  border-radius: 20px;
}

.headsearch button {
  width: 20%;
  font-size: 0.8rem;
  padding: 0.2rem;
}

.headsearch button:hover {
  cursor: pointer;
  background-color: var(--color-dark-gunmetal);
  color: var(--color-david-gray);
}

.account {
  display: flex;
}

.account a {
  position: relative;
}

.account img {
  width: 40px;
  position: absolute;
  bottom: 5px;
}

.account .sesion {
  width: 35px;
}

.account span {
  position: relative;
  top: 15px;
  right: 10px;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--color-police-blue);
  height: 50px;
}

.nav a {
  text-decoration: none;
  font-size: 1rem;
  color: var(--color-cultured);
  transition: color 0.5s;
}

.nav a:hover {
  background-color: var(--color-cultured);
  color: var(--color-dark-gunmetal);
  padding: 0.9rem;
  opacity: 0.5;
  border-radius: 25px;
  font-weight: bold;
}

.social {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 60px 0px 0px;
  background-color: var(--color-cultured);
  padding: 20px;
}

.reds {
  width: 50%;
  text-align: center;
}

.register {
  border-radius: 20px;
  padding: 0.5rem;
  background-color: var(--color-police-blue);
  color: var(--color-cultured);
  border: 1px solid black;
  text-decoration: none;
  margin: 0px 30px;
  transition: font-size 1s;
}

.register:hover {
  font-size: 0.8rem;
}

.reds p {
  margin: 20px 50px;
  font-size: 20px;
  text-align: center;
}

.reds button {
  margin: 0 40%;
  font-size: 10px;
}

.socialmedia {
  display: flex;
  justify-content: center;
}

.media {
  margin: 13px;
  width: 30px;
}

.media img {
  border-radius: 80%;
}
@media screen and (max-width: 576px) {
  .media img .media img {
    width: 70%;
  }
}

.finalfooter {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  margin: 0px;
  padding: 50px;
  background-color: var(--color-police-blue);
  color: var(--color-cultured);
}

.titlefooter {
  margin: 40px 35px;
  text-align: left;
  width: 50%;
  font-weight: 500;
  font-size: 1rem;
}

.finalfooter li {
  margin: 20px 30px;
  text-align: left;
  font-weight: 100;
  padding: 0.4rem;
  transition: background-color 0.5s;
}

.finalfooter li:hover {
  background-color: var(--color-cultured);
  opacity: 0.5;
}

.finalfooter a {
  text-decoration: none;
  font-size: 1rem;
  color: var(--color-cultured);
}

.finalfooter a:hover {
  color: var(--color-yankees-blue);
  font-weight: bold;
}

.payfooter h3 {
  text-align: center;
  margin: 20px;
  font-size: 0.8rem;
}

.pay {
  display: flex;
  justify-content: center;
  padding: 5px 40px 40px;
}

button {
  border-radius: 20px;
  padding: 10px;
  background-color: var(--color-police-blue);
  color: var(--color-cultured);
  border: 1px solid black;
}

.main-img {
  background-image: url("../img/blog/mainblog.jpg");
  background-size: cover;
  height: 700px;
}

.title h1 {
  font-size: 4rem;
  text-align: center;
  padding: 2rem;
  font-weight: bold;
}

.title p {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.recipes {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin: 5rem;
}

.imgr {
  width: 140%;
}

.imgr img {
  border-radius: 10px;
}

.text {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.textr {
  margin: 5rem 0 3rem 2rem;
}

.textr span {
  display: block;
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0;
  font-weight: bold;
}

.textr-2 {
  margin: 5rem 3rem 3rem 2rem;
}

.textr-2 span {
  display: block;
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .main-img {
    background-image: url("../img/blog/mainblog.jpg");
    height: 400px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 1rem;
  }
  .title h1 {
    font-size: 3rem;
  }
  .title p {
    font-size: 0.8rem;
    margin: 0 1.5rem;
  }
  .recipes {
    flex-direction: column;
  }
  .imgr {
    width: 80%;
    border-radius: 50%;
    margin: 0 auto;
  }
  .imgr img {
    border-radius: 10px;
  }
  .textr {
    margin: 2rem auto;
    font-size: 0.8rem;
  }
  .textr-2 {
    margin: 2rem auto;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 576px) {
  .main-img {
    background-image: url("../img/blog/mainblog.jpg");
    height: 250px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0.8rem;
  }
  .title h1 {
    font-size: 3rem;
  }
  .title p {
    font-size: 0.8rem;
    margin: 0 1.5rem;
  }
  .recipes {
    flex-direction: column;
  }
  .imgr {
    width: 100%;
    border-radius: 50%;
  }
  .imgr img {
    border-radius: 10px;
  }
  .textr {
    margin: 2rem auto;
    font-size: 0.8rem;
  }
  .textr-2 {
    margin: 2rem auto;
    font-size: 0.8rem;
  }
}
.row {
  margin-left: 4rem;
}

.atleta-ti {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.atleta-ti h1 {
  padding: 2rem;
  font-size: 5rem;
  font-weight: bold;
}

.atleta-ti p {
  font-size: 1.2rem;
  width: 80%;
  text-align: center;
  font-weight: 600;
}

.container {
  margin-top: 3rem;
}

.card {
  margin: 2rem 0;
  transition: box-shadow 1.5s, transform 1.5s;
}

.card:hover {
  transform: translateY(-6px);
  cursor: pointer;
  box-shadow: 2px 2px 4px #212A3E;
}

.card h5 {
  font-size: 1.5rem;
  font-weight: bold;
}

@media screen and (max-width: 576px) {
  .row {
    margin-left: 2rem;
  }
}
.container {
  background-color: var(--color-cultured);
  margin: 2rem auto;
  border-radius: 30px;
  max-width: 900px;
}

.contacto {
  margin-left: 0;
}

.btn {
  margin: 2rem 10rem;
}

.form-label {
  margin-top: 2rem;
  font-weight: bold;
}

.promocion {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  padding: 20px;
  text-align: center;
  margin: 1rem 0;
  background-color: var(--color-cultured);
}

.promocion p {
  line-height: 20px;
  font-weight: 600;
  color: var(--color-police-blue);
}

.mainimg div {
  width: 100%;
  height: 500px;
  background-image: url("../img/main/mainimg.jpg");
  background-size: cover;
  background-position: 0% 65%;
}

h2 {
  text-align: center;
  margin: 50px;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.main-product {
  margin: 5rem 0;
}

.containermain {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 3rem auto;
  padding: 20px;
}

.product {
  width: 20%;
  text-align: center;
}

.product img {
  transition: transform 1s, box-shadow 1s;
}

.product img:hover {
  transform: translateY(-6px);
  cursor: pointer;
  box-shadow: 2px 2px 4px #212A3E;
}

.product a {
  text-decoration: none;
  color: rgb(116, 115, 115);
  font-size: 1.5rem;
}

.mainproduct {
  width: 90%;
  text-align: center;
  border-radius: 10%;
  margin-bottom: 1rem;
}

.mainproduct-first {
  width: 85%;
  text-align: center;
  border-radius: 10%;
  margin-bottom: 1rem;
}

.mainproduct-change {
  width: 75%;
  margin-bottom: 1rem;
  border-radius: 10%;
}

.mainclothe {
  width: 100%;
  height: 500px;
  background-image: url("../img/main/girls.jpg");
  background-size: cover;
  background-position: 0% 55%;
}

.active {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px auto;
  background-color: var(--color-yankees-blue);
}

.main-active {
  width: 50%;
  text-align: center;
}

.mainclothes {
  display: flex;
  justify-content: space-evenly;
}

.clothes {
  width: 20%;
  margin: 1rem 1rem;
  text-align: center;
}

.clothes img {
  transition: box-shadow 1s, transform 1s;
}

.clothes img:hover {
  transform: translateY(-6px);
  cursor: pointer;
  box-shadow: 2px 2px 4px #212A3E;
}

.clothes img {
  border: 1px solid #212A3E;
  border-radius: 10px;
  border-bottom: 2rem;
}

.clothes a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--color-sonic-silver);
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  .mainlogo {
    font-size: 3rem;
  }
  .headsearch {
    height: 0.5rem;
  }
  .headsearch button {
    font-size: 0.8rem;
    padding: 1px;
  }
  .account img {
    width: 25px;
  }
  .account .sesion {
    width: 20px;
  }
  .account span {
    font-size: 0.8rem;
  }
  .nav {
    margin-top: 0.5rem;
    height: 30px;
  }
  .nav a {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 576px) {
  .header-container {
    width: 100%;
    justify-content: space-around;
  }
  .mainlogo {
    font-size: 4rem;
    padding: 0;
  }
  .headsearch {
    display: none;
  }
  .account img {
    width: 25px;
  }
  .account .sesion {
    width: 20px;
  }
  .account span {
    display: none;
  }
  .nav {
    margin-top: 0.5rem;
    height: 30px;
  }
  .nav a {
    font-size: 0.8rem;
  }
  .promocion {
    height: 75px;
  }
  .promocion p {
    height: 3rem;
    padding-bottom: rem;
    font-size: 0.8rem;
  }
  .mainimg div {
    width: 100%;
    height: 250px;
    background-image: url("../img/main/mainimg.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .main-product {
    margin: 3rem 0;
  }
  .containermain {
    flex-wrap: wrap;
    margin-top: 1rem;
  }
  .product {
    width: 35%;
    margin: 1rem;
  }
  .product a {
    font-size: 1.3rem;
  }
  .mainclothe {
    width: 100%;
    height: 250px;
    background-image: url("../img/main/girls.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .clothes {
    width: 35%;
  }
  .clothes a {
    margin: 2rem 0;
    font-size: 1.3rem;
  }
  .reds {
    width: 100%;
  }
  .social p {
    width: 80%;
    font-size: 0.8rem;
    margin: 1rem;
  }
  .reds button {
    width: 100%;
    font-size: 0.8rem;
    margin-left: 0;
  }
  .socialmedia img {
    width: 70%;
  }
  .finalfooter h3 {
    font-size: 0.6rem;
    margin: 1rem 2rem;
  }
  .finalfooter li {
    margin: 1rem 2rem;
  }
  .finalfooter a {
    font-size: 0.5rem;
  }
  .pay img {
    width: 60%;
  }
}

/*# sourceMappingURL=main.css.map */
