:root {
    --color-police-blue: #394867;
    --color-cultured: #F1F6F9;
    --color-aquarius-900: #c5eaf0;
    --color-yankees-blue: #212A3E;
    --color-sonic-silver: #757374;
    --color-eerie-black: #1D1B1C;
    --color-dark-gunmetal: #2B1E17;
    --color-david-gray: #4f5259;
    
}